MINIO_CFG_BASE64=W3siZW5kUG9pbnQiOiJzYW5kYm94Lm9zcy1jbi1zaGFuZ2hhaS5hbGl5dW5jcy5jb20iLCJwb3J0Ijo4MCwidXNlU1NMIjpmYWxzZSwiYWNjZXNzS2V5Ijoia2V5Iiwic2VjcmV0S2V5Ijoic2VjcmV0IiwicmVnaW9uIjoib3NzLWNuLXNoYW5naGFpIiwiYnVja2V0Ijoic2FuZGJveCIsIm5hbWUiOiJhc3NldCJ9XQ==